<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepr - <%= orgName %></title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main class="container">
      <% if (isAdmin) { %>
        <div class="d-flex align-items-center">
          <a class="pr-3 text-dark" href="/orgs"><i class="bi bi-arrow-return-left bi-5x" style="font-size: 2rem"></i></a>
          <h1 class="mb-0">Edit name for <%= orgName %></h1>
        </div>
        <% if (locals.error) {%>
          <div class="alert alert-danger" role="alert">
            Organisation already exists in database
          </div>
        <% }%>
      <form action="/orgs/<%= orgId %>" method="POST" class="justify-content-center">

        <div class="form-group row">
          <label for="inputName" class="col-sm-3 col-form-label">Organisation Name:</label>
          <div class="col-sm-9">
            <input type="text" name="org_name" value="<%= orgName%>" class="form-control" id="inputName" placeholder="Org Name">
          </div>
        </div>

        <div class="button-container col-sm-4">

            <div class="form-check col-sm-8">
              <input class="form-check-input" type="checkbox" id="org-update-check">
              <label class="form-check-label" for="org-update-check">
                Confirm update?
              </label>
            </div>
            <button type="button" id="org-update" class="btn btn-primary">Submit</button>
          </div>

        </div>
      </form>
      <% } %>

      <h1> Members of <%= orgName %> </h1>

      <% for (member of members) { %>
      <section class="articles-container">
        <article class="art-main orgs-main">
          <div class="art-icon org-icon">
            <!-- <img src="<%= member.pictureURL %>" -->
            <img src="https://i.pinimg.com/originals/25/43/8e/25438ea8bd6b720289d8a01e3da82c6f.png">
          </div>
          <div class="orgs-body">
            User ID: <%= member.id %>   |   User email: <%= member.email %>
          </div>
        </article>
      </section>
      <% } %>
    </main>
    <%- include('partials/_scripts') %>
  </body>
</html>
