<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepr - <%= orgName %></title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_modal-warning') %>
    <%- include('partials/_header') %>
    <main class="container">
      <% if (isAdmin) { %>
        <!-- form to edit org name -->
        <div class="d-flex align-items-center">
          <a class="pr-3 text-dark" href="/orgs"><i class="bi bi-arrow-return-left bi-5x" style="font-size: 2rem"></i></a>
          <h3 class="mb-3 mt-4">Edit <%= orgName %></h3>
        </div>
        <% if (locals.error === 'orgExists') {%>
          <div class="alert alert-danger" role="alert">
            Organisation already exists in database
          </div>
        <% } %>


        <form action="/orgs/<%= orgId %>/update" method="POST" class="form-group pt-2">

          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Organisation Name:</label>
            <div class="col-sm-9">
              <input type="text" name="org_name" value="<%= orgName%>" class="form-control" id="inputName" placeholder="Org Name" required>
            </div>
          </div>

          <div class="d-flex button-container row-sm-3 justify-content-start pt-0">

            <div class="form-check col-sm-3">
              <input class="form-check-input" type="checkbox" id="org-update-check">
              <label class="form-check-label" for="org-update-check">
                Confirm update?
              </label>
            </div>
            <div class="d-flex button-row justify-content-start">
              <button type="button" id="org-update" class="btn btn-primary">Edit Name</button>
            </div>
          </div>
          <!-- form to add users-->
        </form>

        <div class="d-flex align-items-center">
          <h3 class="mb-4 mt-3">Add members to <%= orgName %></h3>
        </div>
        <% if (locals.error === 'userDNE') {%>
          <div class="alert alert-danger" role="alert">
            User does not exist
          </div>
        <% }%>
        <% if (locals.error === 'userInOrg') {%>
          <div class="alert alert-danger" role="alert">
            User is already in <%= orgName %>
          </div>
        <% }%>
        <% if (locals.error === 'idNotInt') {%>
          <div class="alert alert-danger" role="alert">
            Only numbers allowed in field when searching by id
          </div>
        <% }%>
        <form action="/orgs/<%= orgId %>" method="POST" class="justify-content-center">

          <div class="form-group row">
            <div class="d-flex row-sm-3 justify-content-between">
              <label for="inputName" class="col-form-label pl-3 pr-2">Add user by:</label>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <div class="col-sm-8">
                  <input type="email" name="user_name" class="form-control" id="inputUser" placeholder="user@email.com" required>
                </div>
                <label class="btn btn-info active">
                  <input type="radio" name="query_type" id="by-email" autocomplete="off" value="email" checked> email
                </label>
                <label class="btn btn-info">
                  <input type="radio" name="query_type" id="by-userid" autocomplete="off" value="userId"> userId
                </label>
              </div>
            </div>
          </div>

         <div class="d-flex button-container row-sm-3 justify-content-start pt-0">

            <div class="form-check col-sm-3">
              <input class="form-check-input" type="checkbox" id="org-update-check">
              <label class="form-check-label" for="org-update-check">
                Confirm update?
              </label>
            </div>
            <div class="d-flex button-row justify-content-start">
              <button type="button" id="org-update" class="btn btn-primary ml-2">Add user</button>
            </div>
          </div>

        </form>
      <% } %>

      <h3 class="mb-4 mt-3"> Members of <%= orgName %> </h3>

      <% for (member of members) { %>
      <section class="articles-container">
        <article class="art-main orgs-main">
          <div class="art-icon org-icon">
            <!-- <img src="<%= member.pictureURL %>" -->
            <img src="https://i.pinimg.com/originals/25/43/8e/25438ea8bd6b720289d8a01e3da82c6f.png">
          </div>
          <div class="orgs-body">
            <div class="col org-member-text">
            <!-- <span>
            User ID: <%= member.id %>
            </span> -->
            <span>
            User email: <%= member.email %>
            </span>
            </div>
            <div class="org-admin-icon">
              <% if (isAdmin && member.id !== userId) { %>
                <form action="<%= orgId %>/<%= member.id %>/delete" method="POST" onsubmit="return confirm('Do you really want to delete user <%= member.email %> from <%= orgName %>?')">
                  <button type="submit" class="btn-danger btn">&#128465;&#65039;</button>
                </form>
              <% } %>
              <% if (isAdmin && member.id !== userId) { %>
                <form action="<%= orgId %>/<%= member.id %>/update" method="POST">
                  <button type="submit" class="btn-info btn"> <i class="bi bi-key"></i></button>
                </form>
              <% } %>
              <% if (member.is_admin) { %>
              <i class="bi bi-key"></i>
              <% } %>
            </div>
          </div>
        </article>
      </section>
      <% } %>
      <% if (member.is_admin) { %>
        <form action="/orgs/<%= org.org_id %>/delete" method="POST" onsubmit="return confirm('Do you really want to delete the organisation <%= org.name %>?');">
          <button type="button" class="btn btn-danger modal-call">DELETE ORG</button>
        </form>
        <% } %>
    </main>
    <%- include('partials/_scripts') %>
  </body>
</html>
