<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepr - <%= orgName %></title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main class="container">
      <h1> Members of <%= orgName %> </h1>

      <% for (member of members) { %>
      <section class="articles-container">
        <article class="art-main orgs-main">
          <div class="art-icon org-icon">
            <!-- <img src="<%= member.pictureURL %>" -->
            <img src="https://i.pinimg.com/originals/25/43/8e/25438ea8bd6b720289d8a01e3da82c6f.png">
          </div>
          <div class="orgs-body">
            User ID: <%= member.id %>   |   User email: <%= member.email %>
          </div>
        </article>
      </section>
      <% } %>
    </main>
    <%- include('partials/_scripts') %>
  </body>
</html>
