<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepr - <%= orgName %></title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>
    <main class="container">
      <% if (isAdmin) { %>
        <!-- form to edit org name -->
        <div class="d-flex align-items-center">
          <a class="pr-3 text-dark" href="/orgs"><i class="bi bi-arrow-return-left bi-5x" style="font-size: 2rem"></i></a>
          <h1 class="mb-0">Edit name for <%= orgName %></h1>
        </div>
        <% if (locals.error === 'orgExists') {%>
          <div class="alert alert-danger" role="alert">
            Organisation already exists in database
          </div>
        <% }%>
        <form action="/orgs/<%= orgId %>/update" method="POST" class="justify-content-center">

          <div class="form-group row">
            <label for="inputName" class="col-sm-3 col-form-label">Organisation Name:</label>
            <div class="col-sm-9">
              <input type="text" name="org_name" value="<%= orgName%>" class="form-control" id="inputName"
                placeholder="Org Name">
            </div>
          </div>

          <div class="button-container col-sm-4">

            <div class="form-check col-sm-8">
              <input class="form-check-input" type="checkbox" id="org-update-check">
              <label class="form-check-label" for="org-update-check">
                Confirm update?
              </label>
            </div>
            <button type="button" id="org-update" class="btn btn-primary">Edit Name</button>
          </div>
          <!-- form to add users-->
        </form>

        <div class="d-flex align-items-center">
          <i class="pr-3 text-dark bi bi-arrow-down-right bi-5x" style="font-size: 2rem"></i>
          <h1 class="mb-0">Add members to <%= orgName %></h1>
        </div>
        <% if (locals.error === 'userDNE') {%>
          <div class="alert alert-danger" role="alert">
            User does not exist
          </div>
        <% }%>
        <% if (locals.error === 'userInOrg') {%>
          <div class="alert alert-danger" role="alert">
            User is already in <%= orgName %>
          </div>
        <% }%>
        <% if (locals.error === 'idNotInt') {%>
          <div class="alert alert-danger" role="alert">
            Only numbers allowed in field when searching by id
          </div>
        <% }%>
        <form action="/orgs/<%= orgId %>" method="POST" class="justify-content-center">

          <div class="form-group row">
            <div class="col-sm-3">
              <label for="inputName" class="col-form-label">Add user by:</label>
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label class="btn btn-info active">
                  <input type="radio" name="query_type" id="by-email" autocomplete="off" value="email" checked> email
                </label>
                <label class="btn btn-info">
                  <input type="radio" name="query_type" id="by-userid" autocomplete="off" value="userId"> userId
                </label>
              </div>
            </div>
            <div class="col-sm-8">
              <input type="email" name="user_name" class="form-control" id="inputUser" placeholder="user@email.com" required>
            </div>
          </div>

          <div class="button-container col-sm-4">

            <div class="form-check col-sm-8">
              <input class="form-check-input" type="checkbox" name="admin" value="true">
              <label class="form-check-label" for="org-admin">
                Make admin?
              </label>
            </div>
            <button type="submit" id="org-update" class="btn btn-primary">Add User</button>
          </div>

        </form>
      <% } %>

      <h1> Members of <%= orgName %> </h1>

      <% for (member of members) { %>
      <section class="articles-container">
        <article class="art-main orgs-main">
          <div class="art-icon org-icon">
            <!-- <img src="<%= member.pictureURL %>" -->
            <img src="https://i.pinimg.com/originals/25/43/8e/25438ea8bd6b720289d8a01e3da82c6f.png">
          </div>
          <div class="orgs-body">
            <div class="org-member-text">
            User ID: <%= member.id %>   |   User email: <%= member.email %>  |
            </div>
            <div class="org-admin-icon">
              <% if (isAdmin && member.id !== userId) { %>
                <form action="<%= orgId %>/<%= member.id %>/delete" method="POST">
                  <button type="submit" class="btn-danger btn">&#128465;&#65039;</button>
                </form>
              <% } %>
              <% if (member.is_admin) { %>
              <i class="bi bi-key"></i>
              <% } %>
            </div>
          </div>
        </article>
      </section>
      <% } %>
    </main>
    <%- include('partials/_scripts') %>
  </body>
</html>
