<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepR - Organisations</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>

    <main class="page-container">
      <h1>Organisations</h1>
      <section class="articles-container">
        <% for (org of orgsArray) { %>
          <article class="art-main">
            <div class="art-icon">
              <img src="https://i.pinimg.com/originals/b7/6c/94/b76c94e1e878957a73f486362328dd30.png">
            </div>
            <div class="art-body">
              <header>
                <span class="art-url"><%= org.name %></span>
                <!-- must add javascript to  -->
                <button type="button" class="btn btn-danger">&#128465;&#65039;</button>
              </header>

              <footer>
                <div class="art-username">
                  <span class="art-label">Members:</span><span><%= org.memberCount %></span>
                </div>
                <div class="art-password">
                  <span class="art-label">Join date:</span><span><%= org.joinDate %></span>
                </div>
              </footer>

            </div>
          </article>
        <% } %>
      </section>
    </main>
    <%- include('partials/_scripts') %>
  </body>
</html>
