<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepR - Organisations</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>

    <main class="container">
      <div class="d-flex align-items-center">
        <a class="pr-3 text-dark" href="/passwords"><i class="bi bi-arrow-return-left bi-5x" style="font-size: 2rem"></i></a>
        <h1 class="mb-4 mt-3">Organizations</h1>
      </div>
      <section class="articles-container">
        <% if (orgs.length === 0) { %>
          <h4 class="m-2 mt-3">You currently have no organizations</h4>
          <div class='m-2'><a href="/orgs/new">Click here </a>to add an organization</div>
          <% } %>
        <% for (org of orgs) { %>
          <article class="art-main">
            <div class="art-icon-large">
              <img src="https://i.pinimg.com/originals/b7/6c/94/b76c94e1e878957a73f486362328dd30.png">
            </div>
            <div class="art-body">
              <header>
                <span class="art-url"><%= org.name %></span>
              </header>

              <footer class="orgs-footer">
                <div class="orgs-info">

                    <div>
                      <span><b>Members:</b>  <%= org.count %> </span>
                    </div>

                    <div>
                      <span><b>Join date:</b> <%= org.joined_at.toLocaleDateString('en-CA') %></span>
                    </div>

                </div>
                <div class="orgs-interactions">
                  <a class="" href="/orgs/<%= org.org_id %>"><i class="bi bi-pencil-fill text-dark mx-2"></i></a>
                </div>
              </footer>

            </div>
          </article>
        <% } %>
      </section>
    </main>
    <%- include('partials/_scripts') %>
  </body>
</html>
