<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepR - Organisations</title>
    <%- include('partials/_head') %>
  </head>

  <body>
    <%- include('partials/_header') %>

    <main class="container">
      <div class="d-flex align-items-center">
        <a class="pr-3 text-dark" href="/passwords"><i class="bi bi-arrow-return-left bi-5x" style="font-size: 2rem"></i></a>
        <h1 class="mb-3 mt-3">Organizations</h1>
      </div>
      <section class="articles-container">
        <% for (org of orgs) { %>
          <article class="art-main">
            <div class="art-icon-large">
              <img src="https://i.pinimg.com/originals/b7/6c/94/b76c94e1e878957a73f486362328dd30.png">
            </div>
            <div class="art-body">
              <header>
                <% if (org.is_admin) { %>
                <form action="/orgs/<%= org.org_id %>/delete" method="POST" onsubmit="return confirm('Do you really want to delete the organisation <%= org.name %>?');">
                  <button type="submit" class="btn btn-danger">DELETE ORG</button>
                </form>
                <% } %>
                <span class="art-url"><%= org.name %></span>
                  <form action="/orgs/<%= org.org_id %>" method="GET">
                    <button type="submit" class="btn btn-primary">
                      <i class="bi bi-eye-fill"> View </i>
                    </button>
                  </form>
              </header>

              <footer class="org-footer">
                <div class="art-username">
                  <span class="art-label">Members:</span><span><%= org.count %></span>
                </div>
                <div class="art-password">
                  <span class="art-label">Join date:</span><span><%= org.joined_at.toLocaleDateString('en-CA') %></span>
                </div>
              </footer>

            </div>
          </article>
        <% } %>
      </section>
    </main>
    <%- include('partials/_scripts') %>
  </body>
</html>
