<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepr - Passwords</title>
  <%- include('partials/_head') %>
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
</head>

<body>
  <%- include('partials/_header') %>

    <main class="container">
      <section class="articles-container">
        <% let prevCategory; %>
        <% let prevOrg; %>
          <% for (password of passwords) { %>
            <% if(password.org_name !== prevOrg) { %>
              <% if (password.org_name) { %>
                <header class='org-header m-1 mb-3'><%= password.org_name + '\'s Passwords'%></header>
              <% } else { %>
                <header class='org-header m-1 mb-3'><%= 'My Passwords'%></header>
              <% } %>
            <% } %>
            <% if (password.category !== prevCategory || password.org_name !== prevOrg ) { %>
              <header class='category-header'><%= password.category || 'uncategorized' %></header>
            <% } %>
                <article class="art-main">
                  <div class="art-icon-large">
                    <!-- password icon https://static.thenounproject.com/png/16205-200.png -->
                    <img src="//logo.clearbit.com/<%= password.url %>?size=80" onerror="this.onerror=null; this.src='https://static.thenounproject.com/png/16205-200.png'">
                  </div>
                  <div class="art-body">
                    <header>
                      <div class="art-icon-small">
                        <!-- password icon https://static.thenounproject.com/png/16205-200.png -->
                        <img src="//logo.clearbit.com/<%= password.url %>?size=35" onerror="this.onerror=null; this.src='https://static.thenounproject.com/png/16205-200.png'">
                      </div>
                      <span class="art-url">
                        <%= password.label %>
                      </span>

                    </header>
                    <footer>
                      <div class="art-login-info">
                        <div class="art-username">
                          <span class="art-label">Username:</span><span>
                            <%= password.username %>
                          </span>
                        </div>
                        <div class="art-password">
                          <span class="art-label">Password:</span>
                          <input readonly class="no-border art-value" type="password" value="<%= password.password %>">
                        </div>
                      </div>
                      <div class="art-login-interactions mr-1">
                        <i class="bi bi-eye mx-2" aria-label="Show password"></i>
                        <i class="bi bi-clipboard-plus mx-2 clipboard" aria-label="Copy password to clipboard" data-toggle="popover" data-placement="bottom" data-content="Password copied to clipboard!"></i>
                        <a class="" href="/passwords/<%= password.id %>"><i class="bi bi-pencil-fill text-dark mx-2"></i></a>
                      </div>

                    </footer>
                  </div>
                  </div>
                </article>
                <% prevOrg = password.org_name; %>
                <% prevCategory = password.category; %>
              <% } %>
      </section>
      <a class="attribution" href="https://clearbit.com">Logos provided by Clearbit</a>
    </main>
    <%- include('partials/_scripts') %>
</body>
</html>
