<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PasswordKeepr - Password Index</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="passwords_index.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <%- include('partials/_header') %>

    <main class="container">
      <h1>Password List</h1>
      <section class="password-container">
        <!-- <% for (obj of passwordArray) { %> -->
          <article class="pw-main">
            <div class="pw-icon">
              <!-- password icon https://static.thenounproject.com/png/16205-200.png -->
              <img src="https://static.thenounproject.com/png/16205-200.png">
            </div>
            <div class="pw-body">
              <header>
                <span class="pw-url"><%= obj.name %></span>
                <!-- pencil drawing icon http://simpleicon.com/wp-content/uploads/pencil.png -->
                <a class="pw-view" href="/passwords/<%= obj.url %>">&#128065;</a>
              </header>

              <footer>
                <div class="pw-username">
                  <span class="pw-label">User:</span><span><%= obj.user %></span>
                </div>
                <div class="pw-password">
                  <span class="pw-label">Password:</span><span><%= obj.password %></span>

                </div>

              </footer>

              </div>

            </div>

          </article>
        <!-- <% } %> -->
      </section>


    </main>
  </body>
</html>
