<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepr - Passwords</title>
  <%- include('partials/_head') %>
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
</head>

<body>
  <%- include('partials/_header') %>

    <main class="container">
      <h1>Password List</h1>
      <section class="articles-container">
        <% let prevCategory; %>
        <% for (password of passwords) { %>
          <% if (password.category !== prevCategory) { %>
          <header>
            <%= password.category || 'uncategorized' %>
          </header>
          <% } %>
          <article class="art-main">
            <div class="art-icon">
              <!-- password icon https://static.thenounproject.com/png/16205-200.png -->
              <img src="https://static.thenounproject.com/png/16205-200.png">
            </div>
            <div class="art-body">
              <header>
                <span class="art-url">
                  <%= password.label %>
                </span>
                <!-- pencil drawing icon http://simpleicon.com/wp-content/uploads/pencil.png -->
                <a class="art-view" href="/passwords/<%= password.id %>">&#128065;</a>
              </header>
              <footer>
                <div class="art-username">
                  <span class="art-label">Username:</span><span>
                    <%= password.username %>
                  </span>
                </div>
                <div class="art-password">
                  <span class="art-label">Password:</span><span>
                    <%= password.password %>
                  </span>
                </div>
              </footer>
            </div>
            </div>
          </article>
          <% prevCategory = password.category; %>
          <% } %>
      </section>


    </main>
    <%- include('partials/_scripts') %>
</body>

</html>
