<!DOCTYPE html>
<html lang="en">

<head>
  <title>PasswordKeepr - Passwords</title>
  <%- include('partials/_head') %>
    <link rel="stylesheet" href="/styles/index.css" type="text/css" />
</head>

<body>
  <%- include('partials/_header') %>

    <main class="container">
      <h1>Password List</h1>
      <section class="articles-container">
        <% let prevCategory; %>
        <% let prevOrg; %>
          <% for (password of passwords) { %>
            <% if(password.org_name !== prevOrg) { %>
              <header class='org-header'><%= password.org_name || 'My Passwords' %></header>
            <% } %>
            <% if (password.category !== prevCategory || password.org_name !== prevOrg ) { %>
              <header class='category-header'><%= password.category || 'uncategorized' %></header>
            <% } %>
                <article class="art-main">
                  <div class="art-icon">
                    <!-- password icon https://static.thenounproject.com/png/16205-200.png -->
                    <img src="//logo.clearbit.com/<%= password.url %>?size=80" onerror="this.onerror=null; this.src='https://static.thenounproject.com/png/16205-200.png'">
                  </div>
                  <div class="art-body">
                    <header>
                      <span class="art-url">
                        <%= password.label %>
                      </span>
                      <a class="art-view" href="/passwords/<%= password.id %>"><i
                          class="bi bi-pencil-fill text-dark"></i>
                      </a>
                    </header>
                    <footer>
                      <div class="art-username">
                        <span class="art-label">Username:</span><span>
                          <%= password.username %>
                        </span>
                      </div>
                      <div class="art-password">
                        <span class="art-label">Password:</span>
                        <input readonly class="no-border art-value" type="password" value="<%= password.password %> ">
                        <i class="bi bi-clipboard-plus ml-auto mr-3 p-1" aria-label="Copy password to clipboard" data-toggle="popover" data-content="Password copied to clipboard!"></i>
                      </div>
                    </footer>
                  </div>
                  </div>
                </article>
                <% prevOrg = password.org_name; %>
                <% prevCategory = password.category; %>
              <% } %>
      </section>
      <a class="attribution" href="https://clearbit.com">Logos provided by Clearbit</a>
    </main>
    <%- include('partials/_scripts') %>
</body>
</html>
